:root {
--blue1: #194569;
--blue2: #5F84A2;
--blue3: #91AEC4;
--blue4: #B7D0E1;
--blue5: #CADEED;
--blue6: #DBECF4;
--yellow1: #FFB300;
--yellow2: #FABB18;
--pink1: #FF828B;
--pink1: #FF8D96;
 --font-size-title:"23.04px";
--font-size-sub-title:19.2px;
--font-size-input:16px


#19456


}